<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3 text-center p-4 mt-4">
        <div class="row">
            <h3 class="text-center">Добавить станок</h3>
            <hr />
            <form name="form" (ngSubmit)="f.form.valid && onSubmit($event)" #f="ngForm" novalidate>
                <div class="form-group text-start">
                    <label class="ms-1 my-1" for="machineName">Название</label>
                    <input type="text" class="form-control" name="machineName" [(ngModel)]="form.machineName" required
                        minlength="3" maxlength="255" #machineName="ngModel" />
                    <div class="alert-danger text-center" *ngIf="machineName.errors && f.submitted">
                        <div *ngIf="machineName.errors['required']">Название необходимо</div>
                        <div *ngIf="machineName.errors['minlength']">
                            Низвание должно быть длиной более 3 символов
                        </div>
                        <div *ngIf="machineName.errors['maxlength']">
                            Название должно быть длиной менее 255 символов
                        </div>
                    </div>
                </div>
                <div class="form-group text-start">
                    <label class="ms-1 my-1" for="capacity">Мощность</label>
                    <div class="row">
                        <div class="col">
                            <input type="time" class="form-control" name="capacity" [(ngModel)]="capacityStr"
                            maxlength="8" #capacity="ngModel"/>
                        </div>
                    </div>
                </div>
                <div class="form-group text-start">
                    <label class="ms-1 my-1" for="departmentByDepartmentId">Отдел</label>
                    <input class="form-control" list="departmentDataList" id="departmentByDepartmentId"
                        placeholder="Введите для поиска...">
                    <datalist id="departmentByDepartmentId">
                        <option *ngFor = "let department of departments" [value]="department.departmentNameLocal">{{ department.departmentNameLocal }}</option>
                    </datalist>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block mt-4 text-center">Добавить</button>
                </div>
                <div class="alert alert-warning my-2" *ngIf="f.submitted && !isSuccessful">
                    Ошибка:<br />{{ errorMessage }}
                </div>
            </form>
        </div>
    </div>
    <div>
        <p class="text-center fw-light my-2 text-decoration-underline">
            <a (click)="navigateToList()">Вернуться</a>
        </p>
    </div>
</div>